*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: grid;
  place-items: center;
  height: 100vh;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 200px;
  width: 600px;
  background: white;
  box-shadow: 0 0 3px #333;
  border-radius: 10px;
}

#colorpanel {
  background: none;
  outline: none;
  border: none;
  height: 40px;
  width: 60px;
  cursor: pointer;
}

#btn {
  outline: none;
  border: none;
  background: black;
  color: white;
  height: 40px;
  width: 140px;
  border-radius: 50px;
  cursor: pointer;
}

#box {
  outline: none;
  border: 2px solid #333;
  border-radius: 50px;
  height: 40px;
  width: 140px;
  padding: 0 10px;
}
